@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@300;400&display=swap');

body {
    width: 1440px;
    display: flex;
    font-family: 'Hanken Grotesk', sans-serif;
}

.container {
    width: 720px;
    height: 450px;
    /* border: 2px solid black; */
    border-radius: 5%;
    box-shadow: 10px 10px 8px #888888; 
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: auto;
}

.box {
    width: 360px;
    height: 450px;
    border-radius: 5%;
    /* box-shadow: 10px 10px 8px #888888;  */
    background-image: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
    /* text-align: center; */
}

.title {
    margin-top: 0;
    padding-top: 30px;
    text-align: center;
    color: #828282;
    /* font-size: 11px; */
}

.circle {
    border: 2px solid;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: auto;
    text-align: center;
    background-image: linear-gradient(hsl(241, 81%, 54%), hsl(252, 100%, 67%));
    vertical-align: middle;
}

.result-number {
    font-size: 50px;
    margin-bottom: 0;
    color: white;
}

p {
    color: #828282;
    width: 200px;
    text-align: center;
    margin: auto;
}

.great {
    text-align: center;
    margin: auto;
    color: white;
    margin-top: 20px;
    margin-bottom: 20px;
}

.summary {
    margin-left: 30px;
}
.black {
    color: black;
}



.container li {
    list-style: none;
    display: flex;

}

.btn {
    border: 1px solid #303C59;
    width: 250px;
    height: 50px;
    background-color: #303C59;
    border-radius: 20px;
    align-self: center;
}

.btn:hover {
    background-color: hsla(256, 72%, 46%, 1);
}

.attribution {

}